@font-face {
    font-family: 'botones';
    src: url(/fonts/Homer_Simpson_Revised.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FFD90F;
    color: #000000;
}

video {
    opacity: 0.3
}

  .botonesuno {
    display: flex;
    justify-content: center;
  }

  .datos {
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
  }

  img {
    justify-content: center;
  }
