@font-face {
    font-family: 'parrafos';
    src: url(../fonts/Homer_Simpson_Revised.ttf);
}

@font-face {
  font-family: 'titulo';
  src: url(../fonts/Simpsonfont\ DEMO.otf)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FFD90F;
    color: #000000;
    cursor: url(../assets/rosquilla.jpg);
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem
}

video {
    opacity: 0.3
}

h1 {
  font-family: 'titulo';
  color: rgb(0, 83, 160);
}

p {
  font-family: 'parrafos';
  font-size: 25px
}

.r {
  font-family: 'parrafos';
  color: white;
  font-size: 35px
}

  .botonesuno {
    display: flex;
    justify-content: center;
  }

  .zoom {
    transition: transform .2s;
    margin: 0 auto
  }

  .zoom:hover {
    transform: scale(1.2)
  }